body{
    background-color: rgb(121, 121, 243);
}


section{
    background-color: rgb(182, 143, 95);
    width: 500px;
    height: 350px;
    border: 1px dashed black;
    font-size: 20pt;
}
select{
    width: 150px;
    background-color: rgb(238, 130, 238);
}
input#bot{
    background-color: goldenrod;
    padding: 5px;
    
}
input#num{
    background-color: silver;
}